<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="robots" content="index, all" />
  <title>Timeline</title>
  <!-- font -->

  <script src="js/api.js"></script>
  <!-- <script src="js/Cesium/Cesium.js"></script>
  <script src="http://localhost:9810/compile?id=api-debug"></script> -->



  <link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">

  <script type="application/x-javascript" src="js/allyears.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>





  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="js/main.js"></script>

  <!-- document.getElementById('earth_div').style.width='800px';earth.handleResize();this.disabled=true; -->

  <!-- window.requestAnimationFrame(function(){
  document.getElementById("earth_div").style.width='50%';
  document.getElementById("earth_div").style.height='50%';
  });
  earth.handleResize() -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- mycss -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/styleDemo.css">



</head>

<body data-ng-init="initialize(2016)" ng-app="myApp" ng-controller="myController">
  <div class="container-fluid">
    <div style="background-color:black;" class="row" id="earth_div"></div>

    <div class="row">
      <div onclick="searchCate()" class="year_title col-sm-6" ng-bind="value|replace"></div>
      <div class="col-sm-6 announce" ng-bind="announce"></div>
      <!-- <button class="col-sm-6 announce btn-lg" style="border-width: 0px;" data-toggle="modal" data-target="#exampleModal"
        ng-bind="announce">
      </button> -->


      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" id="exampleModalLabel">{{announce}}</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <iframe width="560" height="315" src="https://www.youtube.com/embed/7-oI41NuCVk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
              <div>{{announcedetail}}</div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer style="display: block;height: 40px;margin-bottom: 20px;">
    <div class="horscroll" style="max-width:100vw;margin:0 auto;">
      <!-- <div class="fake-fadeout"></div> -->
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a id="{{x}}" class="" href="#" ng-repeat="x in menuYears" ng-click="chyear($event)">{{x}}</a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
    </div>
    <!-- <div id="timeline" class="timeline">
      <div style="left:{{($index+1)*pointScale}}%;background-color:{{x[1]}};" class="dot" id="{{$index+1}}" ng-click="chyear($event)"
        ng-repeat="x in demoyears">
        <span></span>
        <date>{{x[0]}}</date>
      </div>

      <div class="inside"></div>
    </div> -->
  </footer>

  <script>
    setTimeout(aaa, 0);

    function aaa() {
      document.getElementById("2018").scrollIntoView();
    }
  </script>

</body>

</html>